.main .card{
    background-color: var(--secondary-color);
    border-radius: 20px;
    max-width: 300px;
    min-height: 320px;
}
.main .card-title{
    font-size: var(--font24);
    font-weight: var( --weight-800);
}
.main .card-body{
    padding: 20px 30px;
}
.main a.card-link{
    
    font-size: var(--font24);
    cursor: pointer;
}